[defaults]
inventory = inventaire.ini
roles_path = roles
callback_plugins = callback_plugins
stdout_callback = poste_notaire
log_path = /var/log/linux-collab/ansible.log
retry_files_enabled = False
localhost_warning = False
deprecation_warnings = False
interpreter_python = auto_silent
nocows = True
